* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #ecfdf5;
}

.container {
    display: grid;
    grid-template: 2fr 5fr / 1fr 4fr;
    max-height: 100vh;
}

.sidebar {
    display: grid;
    grid-template-rows: 100px 500px;
    background-color:#059669;
    grid-row: 1 / 3;
    padding: 20px 25px;
}

.branding, svg {
    display: flex;
    align-items: start;
    gap: 10px;
    font-size: 40px;
    color: white;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    margin: 20px 0px;
    font-size: 30px;
    color: white;
}

.sidebar li, svg {
    display: flex;
    gap: 10px;
}

.header {
    display: grid;
    grid-template: 100px / 2fr 1fr ;
    padding: 20px 50px;
    background-color: white;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
}

.search-container {
    display: grid;
    align-items: center;
    grid-template-columns: 50px 825px;
    padding-right: 10px;
}

.search-container input {
    border-radius: 15px; 
    background-color: #9ca3af;
    border: none;
    height: 35px;
}

.user-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: larger;
    font-weight: bolder;
}

.greeting {
    display: grid;
    grid-template: 50px 50px / min-content;
    column-gap: 10px;
    font-weight: bolder;
    justify-content: start;
    align-items: end;
}

.greeting svg {
    grid-row: 1 / 3;
}

.greeting p {
    font-size: large;
}

.greeting h1 {
    grid-row: 2 / 3;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.buttons > button {
    background-color: #059669;
    border: none;
    border-radius: 20px;
    padding: 12px 3px;
    font-size: 20px;
    color: white;
}

.main-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 0 25px;
    padding-bottom: 40px;
    column-gap: 10px;
}

.projects {
    display: grid;
    grid-template: 50px 1fr 1fr 1fr / 1fr 1fr;
    gap: 20px;
    grid-row: 1 / 3;
}

.projects p {
    font-weight: bolder;
    font-size: 25px;
    display: flex;
    align-items: end;
    grid-column: 1 / 3;
}

.project-card {
    display: grid;
    grid-template-rows: 40px 1fr 1fr;
    background-color: #d1d5db;
    border-radius: 10px;
    border-left: 10px solid #14532d;
    padding: 25px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
}

.project-card-title {
    font-size: 22px;
    font-weight: bold;
}

.project-card-content {
    font-size: 18px;
}

.project-card-buttons {
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 15px;
}

.announcements {
    display: grid;
    grid-template-rows: 60px 1fr;
    padding-left: 10px;
    gap: 10px;
}

.announcements p {
    font-weight: bolder;
    font-size: 25px;
    display: flex;
    align-self: flex-end;
    grid-row: 1 / 2;
}

.announcements-card {
    display: grid;
    grid-template-rows: 50px 100px 2px 50px 100px 2px 50px 100px;
    background-color: #d1d5db;
    border-radius: 10px;
    padding: 35px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
    gap: 10px;
}

.announcement-title {
    align-self: center;
    font-size: large;
    font-weight: bold;
}

.announcement-content {
    
}

.announcement-seperator {
    background-color: #9ca3af;
}

.trending {
    display: grid;
    grid-template-rows: 50px 1fr;
    align-items: end;
    padding-left: 10px;
    gap: 10px;
}

.trending p {
    font-weight: bolder;
    font-size: 25px;
    grid-row: 1 / 2;
}

.trending-card {
    display: grid;
    grid-template: 20px 60px 20px 60px 20px 60px 20px 60px / 100px 1fr;
    background-color: #d1d5db;
    border-radius: 10px;
    padding:  30px 35px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
    align-content: center;
}

.trending-card svg {
    grid-column:  1 / 2;
    row-gap: 10px;
}

.trending-user {
    padding-top: 20px;
    font-weight: bold;
    grid-column: 2 / 3;
}

.trending-user-content {
    grid-column: 2 / 3;
    padding-top: 20px;
}